.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

  border: 0 !important;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.button {
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  border: none;
}

.button:hover{
  background-color: #ca2c37;
}

.button:focus {
  background-color: #a71818;
  outline: none;
}

.button:active {
  background-color: #ba2732;
}

.main-header,
.inner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;

  background-color: #f4f7f9;
}

.main-header {
  margin-bottom: 59px;
}

.main-header ul,
.inner-header ul {
  list-style: none;
}

.top-menu {
  width: 100%;
  height: 42px;

  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-menu .container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.top-menu a{
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 220px;

  text-align: center;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus {
  outline: 2px solid;
}

.logo:active {
  background-color: #ba2732;
}

.search {
  width: 270px;
}

.search input {
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.bookmark {
  flex-grow: 1;
}

.bookmark:hover {
  background-color: #212a3a;
}

.bookmark:focus {
  background-color: #161d29;
  outline: 2px solid;
}

.bookmark:active {
  background-color: #161d29;
  opacity: 0.6;
}

.inner-page .cart {
  background-color: #ee3643;
}

.inner-page .cart:hover {
  background-color: #ca2c37;
}

.inner-page .cart:focus {
  background-color: #ba2732;
  outline: 2px solid;
}

.inner-page .cart:active {
  background-color: #ba2732;
}

.cart:hover {
  background-color: #212a3a;
}

.cart:focus {
  background-color: #161d29;
  outline: 2px solid;
}

.cart:active {
  background-color: #161d29;
  opacity: 0.5;
}

.order-list {
  display: flex;
  width: 300px;
  margin: 0;
  margin-left: auto;

  list-style: none;
}

.order-list li {
  width: 150px;
}

.order-button {
  background-color: #63a63e;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-list a:focus {
  background-color: #518534;
  outline: 2px solid;
}

.order-button:active {
  background-color: #518534;
  opacity: 0.5;
}

.promo-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-contacts a {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-decoration: none;
}

.middle-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 158px;
}

.middle-menu .promo-text {
  width: 250px;
  margin: 0;
  padding: 0;
}

.middle-menu .header-contacts {
  width: 270px;
  margin: 0;
  padding: 0;
}

.middle-menu .user-list {
  width: 281px;
  align-self: flex-start;
  margin: 0;
  margin-top: 46px;
  padding: 0;
}

.user-list a,
.user-info-list a {
  text-decoration: none;
}

.middle-menu .user-wrapper {
  width: 288px;
  align-self: flex-start;
  margin: 0;
  margin-top: 46px;
  padding: 0;
}

.user-info-list li,
.user-links-list li {
  text-align: center;
}

.middle-menu .button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.middle-menu .button:hover {
  color: #ee3643;
}

.middle-menu .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.middle-menu .user-button:hover {
  color: #000000;
}

.middle-menu .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-links {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-links:hover,
.user-links:focus {
  font-size: 16px;
  color: #ee3643;
  text-decoration: underline;

  outline: none;
}

.user-links:active {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;

  opacity: 0.3;
}

.user-info-list,
.user-links-list {
  display: flex;
}

.header-nav {
  width: 940px;
}

.header-nav-list {
  display: flex;
  height: 60px;
  margin: 0;
  padding: 0;
}

.header-nav-list li {
  flex-grow: 1;
}

.header-nav-item a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.header-nav-item {
  text-align: center;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-nav-item:hover {
  background-color: #293449;
  box-shadow: none;
}

.header-nav-item a:focus {
  text-decoration: underline;
  outline: none;
}

.header-nav-item:active {
  background-color: #1d2739;
  box-shadow: none;
}

.header-nav-item:active a {
  opacity: 0.5;
}

.main,
.catalog-main {
  background-color: #ffffff;
}

.offers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 53px;
  padding: 0;
}

.offers-list:first-child {
  display: flex;
  order: 0;
  justify-content: space-between;
  width: 100%;
  height: 123px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.offers-list:first-child .offers-item {
  width: 300px;
  margin: 0;
  padding: 0;
}

.offers-list:nth-child(2) {
  display: flex;
  flex-direction: column;
  order: 2;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
}

.offers-list:nth-child(2) .offers-item {
  height: 123px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-list .offers-item {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.offers-item a {
  text-decoration: none;
}

.offers-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: rgb(0, 0, 0, 0.1);
}

.offers-button:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.offers-button:focus {
  background-color: rgb(0, 0, 0, 0.5);
  outline: none;
}

.offers-button:active {
  background-color: rgb(0, 0, 0, 0.3);
}

.offers-list .materials {
  background-color: #f6b22d;
  background-image: url("../img/icons/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 212px 33px;
}

.offers-list .tools {
  background-color: #3bbce3;
  background-image: url("../img/icons/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 196px 33px;
}

.offers-list .equipment {
  background-color: #dc91d8;
  background-image: url("../img/icons/icon-equipment.svg");
  background-repeat: no-repeat;
  background-position: 190px 32px;
}

.offers-list .discount {
  background-color: #8ed78f;
  background-image: url("../img/icons/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 195px 25px;
}

.offers-list .delivery {
  background-color: #ffc047;
  background-image: url("../img/icons/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

.offers-slider {
  display: flex;
  order: 1;
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}

.offers-slider-list {
  flex-grow: 1;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-slider-item {
  color: #ffffff;

  background-color: rgb(0, 0, 0, 0.5);
}

.offers-slider-item .slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.offers-slider-item .slider-text {
  font-size: 18px;
  line-height: 24px;
}

.offers-slider .drills {
  background-image: url("../img/drill_slider.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.offers-slider .perforators {
  background-image: url("../img/perforator_slider.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.popular h2 {
  height: 89px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 30px;

  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.popular .button-wrapper {
  display: flex;
  order: 1;
  flex-grow: 1;
  align-items: center;
  height: 89px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-right: 24px;

  text-align: right;

  background-color: #f9f5f0;
}

.popular .button {
  margin-left: auto;
}

.popular ul,
.catalog-goods ul {
  text-align: center;
  list-style: none;
}

.popular.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 0;
}


.goods-list {
  display: flex;
  order: 2;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-item {
  width: 218px;
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  border: solid 1px #e5e5e5;
}

.popular.produsers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 85px;
  padding: 0;
}

.producers-list {
  display: flex;
  order: 2;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 310px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.producers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin: 0;
  padding: 0;

  border: solid 1px #e5e5e5;
}

.goods-item:hover,
.producers-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.goods-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.goods-item span {
  text-transform: uppercase;
}

.goods-item .old-price {
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.goods-item .actual-price{
  line-height: 18px;
  color: #ffffff;

  background-image: url("../img/icons/item-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.goods-item .buy-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #63a63e;
  border: none;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.goods-item .buy-button:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.goods-item .buy-button:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
  outline: solid 3px #32425c;
}

.goods-item .buy-button:active {
  background-color: #518534;
  box-shadow: none;
}

.goods-item .mark-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #32425c;

  border: solid 3px #63a63e;
}

.goods-item .mark-button:hover,
.goods-item .mark-button:focus {
  border: solid 3px #32425c;
  outline: none;
}

.goods-item .mark-button:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.services {
  width: 100%;
  margin-bottom: 82px;
  padding-top: 68px;

  background-color: #f2f6f8;
}

.services .container {
  width: 940px;
  margin: 0 auto;
}

.services-item .services-text {
  margin: 0;
  padding: 0;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services ul {
  list-style: none;
}

.section-title {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.services-text,
.info p,
.catalog-info p,
.contacts p {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: left;
  color: #000000;
}

.services-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: none;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-button:hover {
  color: #ffffff;

  background-color: #293449;
}

.active-button,
.services-button:focus {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.services-item .delivery {
  background-image: url("../img/slider-delivery.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.services-item .guarantee {
  background-image: url("../img/slider-guarantee.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.services-item .credit {
  background-image: url("../img/slider-credit.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.services-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.main .index-column {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0;
}

.info {
  width: 520px;
  margin: 0;
  padding: 0;
}

.info p:nth-child(3) {
  margin-bottom: 27px;
}

.delivery-company-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.delivery-company-item {
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 20px;
}

.delivery-company-item:last-child {
  margin-bottom: 36px;
}

.info .button {
  display: block;
  width: 220px;
  margin: 0;
  padding: 0;
}

.contacts {
  width: 300px;
}

.contacts figure {
  height: 158px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.contacts .button {
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
}

.catalog-main {
  width: 100%;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.catalog-title {
  width: 940px;
  height: 89px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 30px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.breadcrumbs {
  display: flex;
  order: -1;
  align-items: center;
  width: 940px;
  height: 59px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item,
.breadcrumbs-item a {
  margin: 0;
  padding: 0 10px;

  font-size: 13px;
  line-height: 18px;
  font-family:  "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-left: 19px;

  background-color: #f7f3ec;
}

.sorting p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.sorting .button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background: none;
  border: none;
  border-bottom: 1px dotted #ee3643;
  opacity: 0.3;
}

.sorting .button:hover,
.sorting .button:focus {
  border-bottom: 1px solid #ee3643;
  outline: none;
  opacity: 1;
}

.sorting .button:active {
  color: #ee3643;
  text-transform: uppercase;

  border: none;
}

.filter {
  width: 220px;
  margin: 0;
  padding: 0;
}

.filter h2 {
  height: 38px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-form {
  height: 708px;
  margin: 0;
  padding: 0;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-form input[type="number"] {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.filter .button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.filter ul {
  list-style: none;
}

.catalog-goods {
  width: 700px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.catalog-goods .goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  list-style: none;
}

.catalog-goods .goods-item {
  width: 218px;
  height: 318px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.goods-list a {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 284px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.pagination .previous {
  display: none;
}

.pagination a {
  display: inline-block;
  width: 38px;
  height: 38px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  border: solid 1px #e5e5e5;
}

.pagination .next {
  width: 140px;
}

.pagination a:hover:not(.active) {
  border: solid 1px #bdc6ca;
}

.pagination a:active:not(.active) {
  border: solid 1px #ee3643;
}

.pagination .active {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.catalog-info {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #f4f7f9;
}

.catalog-info .container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 63px;
}

.catalog-info h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-info p {
  margin: 0;
  padding: 0;
  padding-bottom: 73px;
}

.footer {
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer .logo {
  display: block;
  width: 220px;
  height: 68px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.footer-menu {
  display: flex;
  align-self: flex-end;
  width: 547px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  text-align: right;
}

.footer-menu li {
  flex-grow: 1;
}

.footer ul {
  list-style: none;
}

.footer a {
  color: #f1f5f7;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus{
  text-decoration: underline;

  outline: none;
}

.footer .logo:focus {
  outline: 2px solid;
}

.footer a:active {
  opacity: 0.5;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 125px;
  margin: 0;
  padding: 0;
  padding-top: 29px;
}

.footer-middle p {
  width: 330px;
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  width: 524px;
  margin: 0;
  padding: 0;
}

.catalog-list li {
  flex-grow: 1;

  text-align: right;
}

.catalog-list a,
.footer-bottom a{
  color: #ffd180;
}

.footer-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 105px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-bottom p {
  width: 235px;
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-left: 156px;
  padding: 0;
}

.social-item {
  width: 42px;
  height: 42px;

  text-align: center;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-item:hover,
.social-item:focus,
.social-item:active {
  background-color: #ee3643;
}

.social-list .vk {
  background-image: url("../img/icons/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-list .fb {
  background-image: url("../img/icons/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-list .instagram {
  background-image: url("../img/icons/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;

  opacity: 1;
}

.footer-bottom .developer {
  display: flex;
  width: 305px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.form-popup,
.cart-popup {
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.login-form .button-wrapper,
.cart-popup .button-wrapper {
  background-color: #f1f1f1;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form textarea {
  border: solid 2px #d7dcde;
}

.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover,
.login-form textarea:hover {
  border: solid 2px #b5b5b5;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form textarea:focus {
  border: solid 2px #ee3643;
  outline: none;
}

.cart-popup p {
  margin: 0;
  padding: 0;
  ;
  font-size: 30px;
  line-height: 170px;
  text-align: center;
  color: #000000;
}

.continue-button {
  font-size: 14px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.cart-popup {
  position: relative;

  width: 620px;
  height: 282px;
  margin-left: auto;
  margin-right: auto;
}

.cart-popup p{
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.cart-popup .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin: 0;
  padding: 0;
}

.cart-popup .close-button {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
}

.form-popup {
  position: relative;

  width: 620px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
}

.form-popup .form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  height: 311px;
  margin: 0 auto;
  padding: 0;
  padding-top: 48px;
}

.form-popup .name-field {
  width: 220px;
  height: 64px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.form-popup .email-field {
  width: 220px;
  height: 64px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.form-popup .letter-field {
  width: 460px;
  height: 140px;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.form-popup .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
}

.form-popup .button {
  width: 460px;
  height: 38px;
  margin: 0 auto;
  padding: 0;
}

.form-popup .close-button {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
}

.form-container label {
  font-size: 18px;
  line-height: 18px;
}

.form-container input {
  font-size: 13px;
  line-height: 18px;
}
